name: Deploy Previous API Image

on:
  workflow_dispatch:

jobs:
  deploy-previous:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Auth to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Get GKE credentials
      uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: ${{ secrets.GKE_CLUSTER }}
        location: ${{ secrets.GKE_ZONE }}

    - name: Get previous image tag
      id: prev
      run: |
        TAG=$(gcloud artifacts docker images list \
          asia-south1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.AR_REPO }}/api \
          --include-tags \
          --sort-by=~UPDATE_TIME \
          --format="value(TAGS[0])" | sed -n '2p')
        echo "TAG=$TAG" >> $GITHUB_OUTPUT

    - name: Deploy previous version
      run: |
        helm upgrade api ./helm --set image.tag=${{ steps.prev.outputs.TAG }}

